# Groq AI Inference Configuration
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile

# Supabase PostgreSQL Database Configuration
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.ozwccubrqqhtnzgfkyco.supabase.co:5432/postgres
SUPABASE_URL=https://ozwccubrqqhtnzgfkyco.supabase.co
SUPABASE_KEY=sb_publishable_jE7FDbcax5TpsZmVK0LWiQ_BuWsUiiN

# Firebase Configuration
FIREBASE_API_KEY=AIzaSyAVWH58fyrMbiRK8kEsdDvqFs8qUI5O-kA
FIREBASE_AUTH_DOMAIN=dagnoai.firebaseapp.com
FIREBASE_PROJECT_ID=dagnoai
FIREBASE_STORAGE_BUCKET=dagnoai.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=931166501279
FIREBASE_APP_ID=1:931166501279:web:ee4b449a3f52b97ec725aa
FIREBASE_MEASUREMENT_ID=G-YSLWG8ED7H
